<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css" />

@model UraniaWeb.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}


<!--REDES SOCIALES-->
<div class="align-content-center text-center nene" >
    <h1 class="mt-3">Seguinos en nuestras redes sociales</h1>
    <a href="https://facebook.com/prensapehuajo/" target="_blank"><i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/prensapehuajo" target="_blank"><i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/user/prensapehuajo" target="_blank"><i class="fa fa-youtube-square fa-5x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/prensapehuajo/" target="_blank"><i class="fa fa-instagram  fa-5x" aria-hidden="true"></i></a>
</div>






<div class="row fondoTitulo mt-5">
    <div class="col-sm-12">
        <h1 class="text-center text-black" style="font-size: 2em">Últimas Noticias</h1>
    </div>
</div>

<!--ARTICULOS-->

@if (Model.ListaArticulos.Count() > 0)

{
    <hr />
    <div class="row">
        @foreach (var item in Model.ListaArticulos.OrderBy(o => o.IdAticle))
        {
            <div class="tarjeta">
                <div class="card">
                    <img src="@item.UrlImagen1" class="img-thumbnail" style="width:100%" />
                    <div class="card-body">
                        <h5 class="text-center">@item.TitleArticle</h5>
                        <p>@item.DateCreation</p>
                        <a asp-action="Details" target="_blank" class="btn btn-success" style="border-radius:2px" asp-route-id="@item.IdAticle">Más información</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No existen artículos</p>
}